@media screen and (max-width:1024px) {
  /* 사용자 해상도가 1024px 이하일 때 이 코드가 실행됨. 데스크톱 해당. */

}
@media screen and (max-width:768px) {
  /* 사용자 해상도가 768px 이하일 때 이 코드가 실행됨. 아마도 태블릿 해당. */
  
}
@media screen and (max-width:480px) {
  /* 사용자 해상도가 480px 이하일 때 이 코드가 실행됨. 모바일 해당. */
  nav {
    display: none !important;
  }
  .home{
    background-image: url('frontend-mobile.png'); 
    height: 300px;
  }
  .intro{
    font-size: 16px; 
    margin: -10px;  
  }
  .announce{
    color: white;
    font-size: 20px;
    display: table-cell; 
    vertical-align: middle
  }
  .fa-bars{
    display: block !important;
  }
  .mobile-horizontal-line{ display: block; height: 30px;}
  .about{ display: block !important; }
  .about-me{
    width: 100%;
    margin : 0px;
  }
  #my-history{
    padding-inline-start: 20px;
  }
  #about-start{
    display: block !important;
    width: 95% !important;
  }
  #about-end{
    width: 95% !important;
  }
  .each-skill{
    width: 85%;
  }
}