/* common style (font) */

@font-face { font-family: 'GoyangIlsan'; 
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff'); 
  font-weight: normal; font-style: normal; 
}

body{ font-family: 'GoyangIlsan'; margin: 0px; }

/* header style */

#menu {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: darkslategrey;
}

#name {
  color : white;
  margin: auto 10px;
}

nav {
  margin: auto 10px;
}

a{
  margin : auto 5px;
  color : white;
  text-decoration: none;
}

/* home style */

.home{
  background: darkslategrey url('frontend.jpeg'); 
  background-size: 100% 100%;  
  background-blend-mode: multiply;
  opacity: 0.8;  
  height: 400px;
  text-align: center;
  display: table;
  width : 100%;
}

#introduce {
  vertical-align: middle;
  display: table-cell; 
}

.introduce {
  color: white; font-size: 24px; 
}

.tag {
  font-size: 20px; 
}