.bg-lightgrey{
  background-color: white;
  margin: 0px;
  height: 100vh;
}
.container{
  padding-top: 80px;
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
}
.fa-bars{
  font-size: 1.5em !important;
  margin: auto;
  margin-right: 10px;
  color: white;
  display: none !important;
}
a{
  margin: auto;
  margin-right: 20px;
  color : white;
  text-decoration: none;
}
.home{
  background: darkslategrey url('frontend.jpeg'); 
  background-size: 100% 100%;  
  background-blend-mode: multiply;
  opacity: 0.8;  
  height: 500px;
  text-align: center;
  display: table;
  width: 100%;
}
.announce{
  color: white;
  font-size: 30px;
  display: table-cell; 
  vertical-align: middle
}
.intro{
  font-size: 20px; 
  margin: -15px;  
}
.skill .skills {
  text-align: center;
}

.about p{
  margin : 20px;
}

#eng-name{
  font-size: 30px;
}
span{
  color: crimson;
  font-weight: bold;
}
.about-me{
  width: 35%;
  margin: 10px;
}
.about-me p{
  font-size: 18px;
  line-height: 1.5em;
}
#my-history li{
  font-size: 18px;
  line-height: 1.5em;
  text-align: left;
}