/* common style (font) */

@font-face { font-family: 'GoyangIlsan'; 
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff'); 
  font-weight: normal; font-style: normal; 
}

body{ font-family: 'GoyangIlsan'; }